<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page 2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
</head>
<body>

<div class="container mt-5 text-center">
  <h1 class="mb-4">You are on Page 2</h1>
  <p>This is another HTML page.</p>

</div>


<script type="text/javascript" src="/Lab Class_13/js/index.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
