body {
    background-color: #f1f8ff;
  }

  .form-container {
    background-color: #fff8dc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  .btn-primary:hover {
    background-color: #24cf21;
    border-color: #65db5a;
    color: #fff;
    transition: all 0.3s ease;
}